@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.header-img {
  width: 554px;
  height: 535px;
}

.button {
  background-color: #8463ec;
}
.faq-color {
  color: #8463ec;
}
.border-color {
  border: 1px solid #8463ec;
}
.textPurple {
  color: #7040f4;
}
.logo {
  width: 160px;
  height: 110px;
}
.partners {
  width: 170px;
  height: 70px;
}
.number {
  width: 30px;
  height: 30px;
}

.displayImg {
  width: 200px;
  height: 400px;
}
.circleColor {
  background-color: #6c3ce4;
}
.icon-img {
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: #cebff6;
  padding: 5px;
  margin-bottom: 5px;
}

.features-img {
  width: 239px;
  height: 478px;
}

.mobile-button {
  background-color: white;
  color: #6236ff;
}

.mobile-img {
  width: 400px;
  height: 295px;
}
.action-color {
  background-color: #946cec;
}

.store-img {
  width: 150px;
  height: 50px;
}

li {
  margin-top: 7px;
}
